<!-- Image and text -->
<nav class="navbar navbar-expand navbar-light p-0 w-100">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/logo.webp" class="d-inline-block align-center" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="world" routerLinkActive="active">World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="region" routerLinkActive="active">Region</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="map" routerLinkActive="active">Map</a>
      </li>
      <li *ngIf="listPatientStatus===false" class="nav-item">
        <a class="nav-link" routerLink="test" routerLinkActive="active">Test</a>
      </li>
      <li *ngIf="listPatientStatus===true" class="nav-item">
        <a class="nav-link" routerLink="list-patient" routerLinkActive="active">Patient</a>
      </li>
      
    </ul>
  </div>
  <form class="form-inline mx-3">
    <button *ngIf="listPatientStatus===false" class="btn btn-outline-success  " type="submit"
      (click)="loginClick()">Login</button>
    <button *ngIf="listPatientStatus===true" class="btn btn-outline-success " type="submit"
      (click)="logoutClick()">Logout</button>
  </form>
</nav>