<div class="chart">
    <div class="chart-header my-3">
        <select class="form-select" aria-label="Default select example" name="infor" [(ngModel)]="infor"
            (change)="showInformation()">
            <option value="1">All information</option>
            <option value="2">Confirmed</option>
            <option value="3">Deaths</option>
            <option value="4">Recovered</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="time" [(ngModel)]="time"
            (change)="showInformationAtTime()">
            <option value="0" selected disabled>Range of time</option>
            <option value="1">1 week</option>
            <option value="2">1 month</option>
        </select>
    </div>
    <div #chart class="chart-form">
        <ngx-charts-line-chart   [view]="[chart.offsetWidth,chart.offsetHeight]"
        [autoScale]="autoScale" [scheme]="colorScheme" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="single">
        </ngx-charts-line-chart>
    </div>
</div>