<div class="login">
    <div class="d-lg-flex flex-column">
        <div class="contents order-2 order-md-1 py-5">
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 mx-5">
                <h3>Login</h3>
                <p class="mb-4">Login with admin permission to check patient</p>
                <form [formGroup]="loginForm">
                  <div class="form-group first">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="your-email@gmail.com" id="username" formControlName="username">
                  </div>
                  <div class="form-group last mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Your Password" id="password" formControlName="password">
                  </div>
                  <div class="d-flex mb-5 align-items-center justify-content-between">
                    <button class="btn btn-primary" (click)="clickLogin()">Login </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
 

