<div class="region text-white d-flex py-3">
    <div class="left-side mx-5 mt-3 px-4">
        <div class="region-title d-flex align-items-center">
            <h2 class="text-white mx-3">Regional</h2>
            <div class="country-box mx-2 my-3">
                <p class="text-white">Country & Region</p>
                <select class="form-select form-select-sm" name="choice" [(ngModel)]="choice" aria-label=".form-select-sm example"
                (change)="getSelect()" name="region">
                <option *ngFor="let case of arr" [value]="case.countrycode.iso2" >{{case.countryregion}}</option>
                </select>
            </div>
        </div>
        <div class="section row w-100">
            <div class="region-detail col-4 confirmed py-4 my-5">
                <h5 class="title"><i class="fas fa-user"></i> Confirmed</h5>
                <p *ngIf="country!==undefined" class="region-about">{{country.confirmed | number}}</p>
            </div>
            <div class="region-detail col-4 offset-1 recovered py-4 my-5">
                <h5 class="title"><i class="fas fa-first-aid"></i>Recovered</h5>
                <p *ngIf="country!==undefined" class="region-about">{{country.confirmed | number}}</p>
            </div>
            <div class="region-detail col-4 death py-4">
                <h5 class="title"><i class="fas fa-bed"></i>Death</h5>
                <p *ngIf="country!==undefined" class="region-about">{{country.confirmed | number}}}</p>
            </div>
            <div class="region-detail col-4  offset-1 fatality py-4">
                <h5 class="title"> <i class="fas fa-exclamation-circle"></i>Fatality rate</h5>
                <p *ngIf="country!==undefined" class="region-about">{{rate}} %</p>
            </div>
        </div>
    </div>
    <div class="right-side my-4" *ngIf="choice!==undefined">
        <app-chart-region [multi]="multi" [choice]="choice" [infor] = "infor" [time] = "time"></app-chart-region>
    </div>
</div>
