.total {
  background-color: #e1fcfd;
}

.left-side {
  width: 100%;
  background-color: #243b55;
}

h1,
h2 {
  text-align: center;
  margin-top: 30px;
}

.total-detail i {
  margin-right: 10px;
}

.confirmed {
  background-color: #c3b02d;
}

.confirmed h5 {
  color: #685109;
}

.recovered {
  background-color: #7ff778;
}

.recovered h5 {
  color: #073504;
}

.death {
  background-color: black;
}

.death h5 {
  color: red;
}

.fatality {
  background-color: #145369;
}

.fatality h5 {
  color: #be4d25;
}

.region-about {
  font-weight: 500;
}

.hide {
  display: none;
}

.section {
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .total {
    width: 90%;
    height: 82vh;
    margin: 0 auto;
  }

  .left-side {
    width: 35%;
    background-color: #243b55;
    margin: 50px 0;
    margin-left: 50px;
    border-radius: 30px;
  }
  .right-side {
    width: 50%;
  }

  .section {
    width: 90%;
    margin: 0 auto;
  }

  .total-detail {
    border-radius: 20px;
  }
}

.line-chart {
  width: 100%;
  display: none;
}

@media only screen and (min-width: 577px) {
  .line-chart {
    width: 100%;
    display: block;
  }

  .horizon-chart {
    display: none;
  }
}
